      <ul class="nav" float="right">
        <li><a href="/">home.</a></li>
        <li><a href="/new">add new shop.</a></li>
        <% if(currentUser) { %>
          <li>welcome <%=currentUser.username%>!</li>
          <li>
            <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="log out.">
            </form>
          </li>
        <% } else { %>
          <li><a href="/users/new">sign up.</a></li>
          <li><a href="/sessions/new">log-in.</a></li>
        <% } %>
      </ul>
