      <!-- <div class="left" style="float: left;"> -->
        <a href="/">home.</a>
        <a href="/new">add new shop.</a>
      <!-- </div> -->
      <!-- <div class="right" style="float: right;"> -->
        <a href="/users/new">sign up.</a>
        <a href="#">log-in.</a>
      <!-- </div> -->
