<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head.ejs %>
  </head>
  <body>
    <style>
      <% include ../../partials/css.ejs %>
    </style>
    <div class="container">
      <nav>
        <h1>the shop.</h1>
        <% include ../../partials/nav.ejs %>
      </nav>
      <div class="shop">
        <h3>tell your story.</h3>
        <form action="/story" method="POST">
          <select class="" name="shopId">
            <% for(let i = 0; i < shops.length; i++) { %>
              <option value="<%=shops[i]._id%>"><%=shops[i].name%></option>
            <% } %>
          </select><br />
          <span>rate this shop:</span>
              <input type="number" name="rating" min="1" max="5" style:"width:30px;">
              <textarea name="story" rows="8" style="width:450px;" placeholder="tell your story."></textarea>
          <button type="submit">submit your story.</button>
        </form>
        <br/>
      </div>
      <footer>
        <% include ../../partials/footer.ejs %>
      </footer>
    </div>
    <section>
      <% include ../../partials/scripts.js %>
    </section>
  </body>
</html>
