<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head.ejs %>
  </head>
  <body>
    <nav>
      <% include ../../partials/nav.ejs %>
    </nav>
    <h1>the shop.</h1>
    <div class="container">
      <h3>tell your story.</h3>
      <form action="/story" method="POST">
        <select class="" name="shopId">
          <% for(let i = 0; i < shops.length; i++) { %>
            <option value="<%=shops[i]._id%>"><%=shops[i].name%></option>
          <% } %>
        </select>
        <div class="row">
          <div class="rating">rate this shop:
            <input type="number" name="rating" min="1" max="5">
          </div>
        </div>
        <div class="row">
          <div class="story">
            <textarea name="story" rows="8" cols="80"></textarea>
          </div>
        </div>
        <button type="submit">submit your story.</button>
      </form>
      <br/>
      <!-- cloudinary api testing zone -->
      <button id="upload_widget" class="cloudinary-button">Upload files</button>

      <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

      <script type="text/javascript">
        var myWidget = cloudinary.createUploadWidget({
          cloudName: 'my_cloud_name',
          uploadPreset: 'my_preset'}, (error, result) => {
            if (!error && result && result.event === "success") {
              console.log('Done! Here is the image info: ', result.info);
            }
          }
        )

        document.getElementById("upload_widget").addEventListener("click", function(){
            myWidget.open();
          }, false);
        </script>
    </div>
  </body>
</html>
