<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <h1>the shop.</h1>
    <div class="container">
      <% for (let i = 0; i < shops.length; i++) { %>
        <div class="shop">
          <a href="/shops/<%=shops[i].id;%>"><img src="<%=shops[i].img; %>" alt="<%=shops[i].name; %>" style="max-width: 400px;"></a>
        </div>
      <% } %>
    </div>
    <section>
      <% include ../../partials/scripts.js %>
    </section>
  </body>
</html>
