<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <h1>the shop.</h1>
    <div class="container">
      <div class="shop">
        <h3><%=shop.name %> </h3>
      </div>
    </div>
  </body>
</html>
