<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head.ejs %>
  </head>
  <body>
    <style>
      <% include ../../partials/css.ejs %>
    </style>
    <div class="container">
      <nav>
        <h1>the shop.</h1>
        <% include ../../partials/nav.ejs %>
      </nav>
      <div class="shop">
        <h3>log-in.</h3>
        <form action="/sessions" method="POST">
          <input placeholder="username" id="username" type="text" class="validate" name="username">
          <input placeholder="password" id="password" type="password" class="validate" name="password" required>
          <button type="submit" name="action">submit.</button>
        </form>
      </div>
      <footer>
        <% include ../../partials/footer.ejs %>
      </footer>
    </div>
    <section>
      <% include ../../partials/scripts.js %>
    </section>
  </body>
</html>
